<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">Dóri</a>
            <div class="trigger">
              {% for my_page in site.pages %}
                {% if my_page.title %}
                <a class="page-link" href="{{ my_page.permalink | prepend: site.baseurl }}">{{ my_page.title }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>

          {{ content }}

        </div>

        {% include footer.html %}

    </body>
</html>
